<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Matador de monstros</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="app">

        <div class="panel regras">
            <span> Regras do jogo </span>
            <ul>
                <li>Ao atacar, o monstro é atingido com uma força randomica entre 4 e 6.</li>
                <li>Ao utilizar o atacar especial, o monstro é atingido com uma força randomica entre 4 e 8.</li>
                <li>Após cada ataque ou cura, o monstro contra-ataca com uma força entre 4 e 8</li>
                <li>A cura aumenta minha vida com um valor randomico entre 3 e 6, porém sou contra-atacado, podendo
                    inclusive diminuir minha vida.</li>
                <li>Em cada partida, tenho direito a utilizar 3 curas e 3 atacas especiais.</li>
                <li>Boa sorte!</li>
            </ul>

        </div>

        <div class="panel scores">
            <div class="score">
                <h1>Jogador</h1>
                <div class="life-bar">
                    <div class="life" :class="{danger: playerLife < 20}" :style="{width: playerLife+'%'}"></div>
                </div>
                <div> {{ playerLife }}% </div>
            </div>

            <div class="score">
                <h1>Monstro</h1>
                <div class="life-bar">
                    <div class="life" :class="{danger: monsterLife < 20}" :style="{width: monsterLife+'%'}"></div>
                </div>
                <div> {{ monsterLife }}% </div>
            </div>
        </div>


        <div v-if="hasResult" class=" panel result">
            <div v-if="((monsterLife==0) && (!playerLife==0))" class="win">Você ganhou!!! :)</div>
            <div v-else-if="((!monsterLife==0) && (playerLife==0))" class="lose">Você perdeu!!! :(</div>
            <div v-else class="lose">Empatou!!! :|</div>
        </div>


        <div class="panel buttons">
            <template v-if="running">
                <button @click="atacar(false)" class="btn attack">Ataque</button>
                <button @click="atacar(true)" class="btn especial-attack">Ataque Especial ( {{espec}} )</button>
                <button @click="curar" class="btn heal">Curar ( {{ curas }} )</button>
                <button @click="desistir" class="btn give-up">Desistir</button>
            </template>
            <template v-else>
                <h5 class="score">Escolha o nível de dificuldade</h5>
                <button @click="iniciar(1)" class="btn new-game">Facil</button>
                <button @click="iniciar(2)" class="btn new-game">Médio</button>
                <button @click="iniciar(3)" class="btn new-game">Impossível</button>
            </template>
        </div>


        <div v-if="logs.length" class="panel logs">

            <ul>
                <li :class="log.cls" v-for="log in logs">{{ log.text }}</li>
            </ul>
        </div>
    </div>
    <script src="app.js"></script>
</body>

</html>